* {
    box-sizing: border-box;
}

/* latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.rawgit.com/tonsky/FiraCode/bbd33d9e/distr/woff2/FiraCode-Medium.woff2) format('woff2');
}


html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe WPC', 'Segoe UI', 'SFUIText-Light', 'HelveticaNeue-Light', sans-serif;
    font-size: 14px;
}

ul, li {
	margin: 0;
	padding: 0;
}

a {
    color: #d4d4d4;
	text-decoration: none;
}

a i.fa {
	opacity: 0.6;
	transition: opacity .2s;
}

a i.fa:hover {
	opacity: 1 !important;
}


header,
footer {
    display: block;
	padding: 2px 4px;
}

.flex-horizontal,
.flex-vertical {
    display: flex;
}

.flex-horizontal.dragging > :not(span),
.flex-vertical.dragging > :not(span) {
	pointer-events: none;
}

.flex-horizontal.dragging > span,
.flex-vertical.dragging > span {
    background: #666;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.flex-fill {
    flex-grow: 1;
}

.flex-horizontal > span {
    display: block;
    width: 5px;
    cursor: col-resize;
}

.flex-vertical > span {
    display: block;
    height: 5px;
    cursor: row-resize;
}


.panelHeader {
    padding: 2px 4px;
	white-space: nowrap;
}

.panelHeader span {
	text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

.panelHeader a {
    float: right;
    margin-left: 5px;
}

#previewContainer {
    position: relative;
	overflow: hidden;
}

#previewFrame {
    position: absolute;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#editorContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.sourceNode {
	white-space: nowrap;	
}

.sourceNode > div {
	padding: 1px 4px;
	display: block;
	transition: background-color .2s;
}

.sourceNode > div:hover {
	background: #333;
}

.sourceNode > div > a i {
	margin-right: 4px;
}

.sourceNode.used > div > a:not(.btnDelete) i.icon {
	opacity: 1 !important;
}
.sourceNode > ul {
	padding-left: 5px;
}
.sourceNode:not(.open) > ul {
	display: none;
}

.sourceNode:not(.open) > div > a i.fa-folder-open-o,
.sourceNode.open > div > a i.fa-folder-o {
	display: none;
}

.sourceNode a.btnDelete {
	display: none;
	float: right;
}

.sourceNode a.btnDelete i {
	margin-right: 0;
}

.sourceNode > div > a:not(.btnDelete) {
	display: block;
}

.sourceNode > div:hover a.btnDelete {
	display: block;
}

/*
#fileContainer > a.used:afteaaar {
	content:'\2713';
	display: inline-block;
	vertical-align: middle;
	font-size: 70%;
	margin-top: 2px;
	opacity: 0.75;
	float: right;
}
*/

footer > div {
	padding: 0 10px;
}

footer > div:first-child {
	padding-left: 0;
}

footer > div:last-child {
	padding-right: 0;
}

select {
	background: inherit;
	color: inherit;
}

select option {
	color: inherit;
}

input {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 5px 7px;
}

/*
*/
body.theme-vs,
body.theme-vs .dialog > * {
	background: #fffffe;
	color: #333;
}
body.theme-vs a {
    color: #2c2c2c;
}

body.theme-vs a > i.fa {
	color: hsla(210, 52%, 55%, 1);
}


body.theme-vs header,
body.theme-vs footer,
body.theme-vs .flex-horizontal > span,
body.theme-vs .flex-vertical > span {
    background: #ccc;
}

body.theme-vs .sourceNode > div:hover,
body.theme-vs-dark select option {
	background: #E5EBF1;
}

body.theme-vs .sourceNode > a.selected {
	background: #ADD6FF;
}

body.theme-vs .panelHeader {
    background: #eee;
	border-bottom: 1px solid #ddd;
}

body.theme-vs .console-info { background: #FFFFC8; }
body.theme-vs .console-warn { background: #EBF5FF; }
body.theme-vs .console-error { background: #FFEBEB; }


/*
*/

body.theme-vs-dark,
body.theme-vs-dark select,
body.theme-vs-dark input,
body.theme-vs-dark .dialog > * {
    background: #1e1e1e;
    color: #d4d4d4;	
}
body.theme-vs-dark a {
    color: #d4d4d4;
}

body.theme-vs-dark a > i.fa {
	color: hsla(210, 52%, 70%, 1);
}


body.theme-vs-dark header,
body.theme-vs-dark footer,
body.theme-vs-dark .flex-horizontal > span,
body.theme-vs-dark .flex-vertical > span {
    background: #333;
}

body.theme-vs-dark .sourceNode > div:hover,
body.theme-vs-dark select option {
	background: #3A3D41;
}

body.theme-vs-dark .sourceNode > a.selected {
	background: #264F78;
}

body.theme-vs-dark .panelHeader {
    background: #444;
	border-bottom: 1px solid #444;
}


body.theme-vs-dark .console-info { background: #383800; }
body.theme-vs-dark .console-warn { background: #000a14; }
body.theme-vs-dark .console-error { background: #140000; }

/*
*/

body.theme-hc-black,
body.theme-hc-black .dialog > * {
	background: black;
	color: white;
}
body.theme-hc-black a {
    color: #ccc;
}

body.theme-hc-black a > i.fa {
	color: hsla(210, 100%, 90%, 1);
}

body.theme-hc-black .flex-horizontal > span,
body.theme-hc-black .flex-vertical > span {
    background: #888;
}

body.theme-hc-black .sourceNode > div:hover {
	background: white;
	color: black;
}

body.theme-hc-black select option {
	background: black;
	color: white;
}


body.theme-hc-black .sourceNode > a.selected {
	background: white;
	color: black;
}

body.theme-hc-black .panelHeader {
    background: #111;
	border-bottom: 1px solid #111;
}


body:not(.preview-docked) .preview-docked-show,
body:not(.console-visible) .console-visible-show,
body.preview-paused #btnPause,
body:not(.preview-paused) #btnRun {
	display: none;
}


#consoleContainer {
	font-family: 'Fira Code';
    overflow-y: scroll;
}

#consoleContainer div.error {
	color: red !important;
}

#consoleContainer div.error i {
	float: right;
}

.console-error {
    color: red;
}

.dialog {
    position: absolute;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
 
    padding-left: 100px;
    padding-top: 100px;
}

.dialog > * {
    max-width: 90%;
    border: 1px solid #888;
    border-radius: 4px;
}


.dialog h1 {

}

.dialog fieldset {
    display: inline-block;
    padding: 10px;
}

fieldset.vertical > input,
fieldset.vertical > label {
    display: block;
}

fieldset.vertical > input[type='submit'] {
    float: right;
}

fieldset.horizontal > input,
fieldset.horizontal > label {
    display: inline-block;
}
