* {
    box-sizing: border-box;
}

html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe WPC', 'Segoe UI', 'SFUIText-Light', 'HelveticaNeue-Light', sans-serif;
    background: #1e1e1e;
    color: #d4d4d4;
    font-size: 14px;
}

a {
    color: #d4d4d4;
	text-decoration: none;
}

header,
footer {
    display: block;
    background: #333;
	padding: 2px 4px;
}

.flex-horizontal,
.flex-vertical {
    display: flex;
    aposition: relative;
}

.flex-horizontal.dragging > div,
.flex-vertical.dragging > div {
	pointer-events: none;
}

.flex-horizontal.dragging > span,
.flex-vertical.dragging > span {
    background: #666;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.flex-fill {
    flex-grow: 1;
}

.flex-horizontal > span {
    display: block;
    background: #333;
    width: 5px;
    cursor: col-resize;
}

.panelHeader {
    background: #444;
    padding: 2px 4px;
}

#previewContainer {
    position: relative;
	overflow: hidden;
}

#previewFrame {
    position: absolute;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: #888;
}

#editorContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.monaco-editor {
}

#fileContainer {
}

#fileContainer > a {
	padding: 2px 4px;
	display: block;
}

#fileContainer > a:hover {
	background: #333;
}


#fileContainer > a.selected {
	padding: 2px 4px;
	display: block;
	background: #666;
}

#fileContainer > a.used:after {
	content:'\2713';
	display:inline-block;
	vertical-align: middle;
	font-size: 70%;
	margin-top: 2px;
	color:#ccc;
	float: right;
}

footer > div {
	padding: 0 10px;
}

footer > div:first-child {
	padding-left: 0;
}

footer > div:last-child {
	padding-right: 0;
}