* {
    box-sizing: border-box;
}

html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe WPC', 'Segoe UI', 'SFUIText-Light', 'HelveticaNeue-Light', sans-serif;
    font-size: 14px;
}


a {
    color: #d4d4d4;
	text-decoration: none;
}

a i.fa {
	opacity: 0.6;
}

a:hover i.fa {
	opacity: 1;
}


header,
footer {
    display: block;
	padding: 2px 4px;
}

.flex-horizontal,
.flex-vertical {
    display: flex;
}

.flex-horizontal.dragging > div,
.flex-vertical.dragging > div {
	pointer-events: none;
}

.flex-horizontal.dragging > span,
.flex-vertical.dragging > span {
    background: #666;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.flex-fill {
    flex-grow: 1;
}

.flex-horizontal > span {
    display: block;
    width: 5px;
    cursor: col-resize;
}

.panelHeader {
    padding: 2px 4px;
}

#previewContainer {
    position: relative;
	overflow: hidden;
}

#previewFrame {
    position: absolute;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#editorContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

#fileContainer > a {
	padding: 2px 4px;
	display: block;
}

#fileContainer > a > i {
	margin-right: 4px;
}

#fileContainer > a:hover {
	background: #333;
}


#fileContainer > a.selected {
	padding: 2px 4px;
	display: block;
}

#fileContainer > a i.icon {
	opacity: 0.5;
}
#fileContainer > a.used i.icon {
	opacity: 1;
}

#fileContainer > a.used:afteaaar {
	content:'\2713';
	display: inline-block;
	vertical-align: middle;
	font-size: 70%;
	margin-top: 2px;
	opacity: 0.75;
	float: right;
}

footer > div {
	padding: 0 10px;
}

footer > div:first-child {
	padding-left: 0;
}

footer > div:last-child {
	padding-right: 0;
}

select {
	background: inherit;
	color: inherit;
}

select option {
	color: inherit;
}

/*
*/
body.theme-vs {
	background: #fffffe;
	color: #333;
}
body.theme-vs a {
    color: #2c2c2c;
}

body.theme-vs a > i.fa {
	color: hsla(210, 52%, 55%, 1);
}


body.theme-vs header,
body.theme-vs footer,
body.theme-vs .flex-horizontal > span {
    background: #ccc;
}

body.theme-vs #fileContainer > a:hover,
body.theme-vs-dark select option {
	background: #E5EBF1;
}

body.theme-vs #fileContainer > a.selected {
	background: #ADD6FF;
}

body.theme-vs .panelHeader {
    background: #eee;
	border-bottom: 1px solid #ddd;
}

/*
*/

body.theme-vs-dark {
    background: #1e1e1e;
    color: #d4d4d4;	
}
body.theme-vs-dark a {
    color: #d4d4d4;
}

body.theme-vs-dark a > i.fa {
	color: hsla(210, 52%, 70%, 1);
}


body.theme-vs-dark header,
body.theme-vs-dark footer,
body.theme-vs-dark .flex-horizontal > span {
    background: #333;
}

body.theme-vs-dark #fileContainer > a:hover,
body.theme-vs-dark select option {
	background: #3A3D41;
}

body.theme-vs-dark #fileContainer > a.selected {
	background: #264F78;
}

body.theme-vs-dark .panelHeader {
    background: #444;
	border-bottom: 1px solid #444;
}

/*
*/

body.theme-hc-black {
	background: black;
	color: white;
}
body.theme-hc-black a {
    color: #ccc;
}

body.theme-hc-black a > i.fa {
	color: hsla(210, 100%, 90%, 1);
}

body.theme-hc-black #fileContainer > a:hover {
	background: white;
	color: black;
}

body.theme-hc-black select option {
	background: black;
	color: white;
}


body.theme-hc-black #fileContainer > a.selected {
	background: white;
	color: black;
}

body.theme-hc-black .panelHeader {
    background: #111;
	border-bottom: 1px solid #111;
}

#btnPause, #btnRun, #btnRefresh {
	float: right;
	margin-left: 5px;
}

body:not(.preview-docked) .preview-docked-show,
body.preview-paused #btnPause,
body:not(.preview-paused) #btnRun {
	display: none;
}