* {
    box-sizing: border-box;
}

/* latin */

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url(https://raw.githack.com/tonsky/FiraCode/bbd33d9e/distr/woff2/FiraCode-Medium.woff2) format('woff2');
}

html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe WPC', 'Segoe UI', 'SFUIText-Light', 'HelveticaNeue-Light', sans-serif;
    font-size: 14px;
}

ul,
li {
	display: block;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 10pt;
    display: inline-block;
    margin: 1px 20px 1px 1px;
}

a {
    color: #d4d4d4;
    text-decoration: none;
    i.fa {
        opacity: 0.5;
        transition: opacity .2s;
    }
    i.fa:hover {
				opacity: 1 !important;
    }
}

header,
footer {
    display: block;
    padding: 2px 4px;
}

.flex-horizontal,
.flex-vertical {
    display: flex;
    &.dragging {
        &> :not(span) {
            pointer-events: none;
        }
        &>span {
            background: #666;
        }
    }
}

.flex-horizontal {
    flex-direction: row;
    &>span {
        display: block;
        width: 5px;
        cursor: col-resize;
    }
}

.flex-vertical {
    flex-direction: column;
    &>span {
        display: block;
        height: 5px;
        cursor: row-resize;
    }
}



fieldset.vertical input[type=checkbox] {
	vertical-align: middle;
	min-width: 20px;
	margin-right: 43px;
}

fieldset.vertical > input,
fieldset.vertical > label {
	text-align: right;
    display: block;
}

fieldset.vertical > label > select,
fieldset.vertical > label > input {
	margin-left: 5px;
	min-width: 60px;
}



fieldset.vertical > input[type='submit'] {
    float: right;
}

fieldset.horizontal > input,
fieldset.horizontal > label {
	display: inline-block;
}

fieldset.horizontal > label > select,
fieldset.horizontal > label > input {
	margin-left: 5px;
}

fieldset button.link {
	display: block;
}



.flex-fill {
    flex-grow: 1;
}

.panelHeader {
    padding: 2px 4px;
    white-space: nowrap;
    span {
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    }
    a {
        float: right;
        margin-left: 5px;
    }
}

#previewContainer {
    position: relative;
    overflow: hidden;
}

#previewFrame {
    position: absolute;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: #eee;
}

#editorContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.hover-show {
	display: none;
}

.hover:hover {
	.hover-show {
		display: block;
	}
}


.sourceNode {
	white-space: nowrap;
	&>div {
		display: block;
		transition: background-color .2s;
		padding-left: 5px;
		&:hover {
			background: #333;
		}

		&>div {
			display: none;
			float: right;
			position: relative;
			z-index: 1;

			i.fa {
				margin: 0 2px;
			}
		}

		&>a {
			display: block;
		}

		i.icon {
			margin-right: 4px;
		}
	}
	&.used>div i.icon {
		opacity: 1 !important;
	}
	&>ul {
		padding-left: 10px;
	}
	&:not(.open)>ul {
		display: none;
	}

	&:not(.open)>div>a i.fa-folder-open-o,
	&.open>div>a i.fa-folder-o {
			display: none;
	}

	.inputWrapper {

		position: relative;
    padding-right: 33px;
    padding-left: 0px;
    display: inline-block;
		width: 100%;
		
		input {
			border: none;
			margin: 0;
			padding: 0;
			cursor: default;
			position: relative;
			width: 100%;
			background: none !important;
		}			
	}
	
	&.new-file {

		> div {
			display: flex;

			input {
				box-sizing: border-box;

				flex-grow: 1;
				min-width: 0;
				padding: 2px;
				margin: -2px 0 -2px -2px;		
			}
		}
	}
}

ul.shaded {
	.hover-show {
		display: none !important;
	}

	.sourceNode {
		&>div {
			background: none !important;
		}
		&:not(.unshaded)>div {
			opacity: 0.25
		}
	}
}

#fileContainer {
    overflow-x: hidden;
    overflow-y: auto;
}

footer {
	&>div>div {
		padding: 0 10px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

select {
	background: inherit;
	color: inherit;
	option {
		color: inherit;
	}
}

input {
	border: 1px solid #888;
	border-radius: 3px;
	padding: 5px 7px;
}

.fa {
	position: relative;
}

.fa .fa-overlay {
	position: absolute;
	font-size: 50%;
	left: -.4em;
	top: -.3em;
	opacity: 1;
}


/*
*/

body.theme-vs {
    &,
    .dialog>* {
        background: #fffffe;
        color: #333;
    }
    a {
        color: #2c2c2c;
    }
    a>i.fa,
    button.link {
        color: hsla(210, 52%, 55%, 1);
    }
    header,
    footer,
    .flex-horizontal>span,
    .flex-vertical>span {
        background: #ccc;
    }
    .sourceNode>div:hover,
    &-dark select option {
        background: #E5EBF1;
    }
    .sourceNode.selected>div {
        background: #ADD6FF;
    }
    .panelHeader {
        background: #eee;
        border-bottom: 1px solid #ddd;
    }
    .console-info {
        background: #FFFFC8;
    }
    .console-warn {
        background: #EBF5FF;
    }
    .console-error {
        background: #FFEBEB;
	}
	
	.fa .fa-overlay {
		color: black;
		text-shadow:
			1px 0px 2px #ddd,
			-1px 0px 2px #ddd,
			0 1px 2px #ddd,
			0 -1px 2px #ddd;
	}

}


/*
*/

body.theme-vs-dark {
    &,
    select,
    input,
    .dialog>* {
        background: #1e1e1e;
        color: #d4d4d4;
    }
    a {
        color: #d4d4d4;
    }
    a>i.fa,
    button.link {
        color: hsla(210, 52%, 70%, 1);
    }
    header,
    footer,
    .flex-horizontal>span,
    .flex-vertical>span {
        background: #333;
    }
    .sourceNode>div:hover,
    select option {
        background: #3A3D41;
    }
    .sourceNode.selected>div {
        background: #264F78;
    }
    .panelHeader {
        background: #444;
        border-bottom: 1px solid #444;
    }
    .console-info {
        background: #383800;
    }
    .console-warn {
        background: #000a14;
    }
    .console-error {
        background: #140000;
	}
		
	.fa .fa-overlay {
		color: #ffc;
		text-shadow:
			1px 0px 2px #1e1e1e,
			-1px 0px 2px #1e1e1e,
			0 1px 2px #1e1e1e,
			0 -1px 2px #1e1e1e;
	}
}


/*
*/

body.theme-hc-black {
    &,
    .dialog>* {
        background: black;
        color: white;
    }
    a {
        color: #ccc;
    }
    a>i.fa,
    button.link {
        color: hsla(210, 100%, 90%, 1);
    }
    .flex-horizontal>span,
    .flex-vertical>span {
        background: #888;
    }
    .sourceNode>div:hover {
        background: white;
        color: black;
    }
    select option {
        background: black;
        color: white;
    }
    .sourceNode.selected>div {
        background: white;
        color: black;
    }
    .panelHeader {
        background: #111;
        border-bottom: 1px solid #111;
	}
	
		
	.fa .fa-overlay {
		color: yellow;
		text-shadow:
			1px 0px 2px black,
			-1px 0px 2px black,
			0 1px 2px black,
			0 -1px 2px black;
	}	
}

body:not(.preview-docked) .preview-docked-show,
body:not(.console-visible) .console-visible-show,
body.preview-paused #btnPause,
body:not(.authenticated) .authenticated-show,
body:not(.preview-paused) #btnRun {
    display: none;
}

#consoleContainer {
    font-family: 'Fira Code';
    overflow-y: scroll;
    div.error {
        color: red !important;
    }
    div.error i {
        float: right;
    }
}

.console-error {
    color: red;
}

.dialog {
    position: absolute;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    padding-left: 100px;
    padding-top: 100px;
    &>* {
        max-width: 90%;
        border: 1px solid #888;
        border-radius: 4px;
        box-shadow: 1px 5px 30px rgba(0, 0, 0, .75)
    }
    fieldset {
        display: inline-block;
        padding: 10px;
    }
}

fieldset {
    &.vertical {
        &>input,
        &>label {
            display: block;
        }
        &>input[type='submit'] {
            float: right;
        }
    }
    &.horizontal {
        &>input,
        &>label {
            display: inline-block;
        }
    }
    button.link {
        display: block;
    }
}

button.link,
button.link:focus,
button.link:active {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: inherit;
    cursor: pointer;
}

button.link:hover {
    text-decoration: underline;
}


/* Remove extra space inside buttons in Firefox */

button.link::-moz-focus-inner {
    border: none;
    padding: 0;
}
